.Logo-Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;

    cursor: pointer;
}

.Logo-Menu:hover{
    transform: scale(1.1);
}

.Caixa{
    width: 200px;
    height: auto;
}

.btn-Caixa{
    height: auto;
    width: 100px;
    padding: 0px;
}