.Cad-Prod{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.Title-Page, .Form-Cad-Prod{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    width: 35vw;
    min-width: 300px;
    height: 90dvh;
    min-height: 400px;
    
    justify-content: center;
    align-items: center;
    text-align: left;
}

.Form-Cad-Prod{
    color: whitesmoke;
    font-size: 2.5vh;
    background: rgba(0, 0, 0, 0.7);

    border: 20%;
    border-radius: 10px;
    
}

.input-Cadastro{
    height: 6vh;
    width: 30vw;
}

.formCampo{
    padding-bottom: 2vh;
}

.formMoeda{
    width: 30dvw;
}


.Inputs2{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;

    width: 30vw;
}

.Inputs2 input{
    width: 15dvw;
}

.Inputs2 select, options{
    width: 5dvw;
}


Button{
    width: 30vw;
    margin-top: 5%;
}

.informacoesAdicionais{
    width: 30vw;
    height: 5vh;
    resize: none;
}


