.Cad-Merc{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.Title-Page, .Form-Cad-Merc{
    display: flex;
    flex-direction: row;

    width: 35vw;
    height: 90%;
    
    justify-content: center;
    align-items: center;
    text-align: left;
}

.Form-Cad-Merc{
    color: whitesmoke;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.7);

    border: 20%;
    border-radius: 10px;
    
}